
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fffffa;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
}
::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

a{
  text-decoration: none;
}

.nav-container {
  width: 100vw; 

  display: flex;
  justify-content: center; 
  align-items: center;
  padding-top: 10px
}

.nav-content {
  width: 85%; 
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 5%;
  display: flex;
  justify-self: center;
}

.logo a {
  text-decoration: none; 
  color: inherit;
}

.nav-left, .nav-right {
  display: flex;
  gap: 20px; 
  flex-direction: row;
  font-size: small;
}

.nav-left a, .nav-right a{
  display: flex;
  gap: 20px; 
  flex-direction: row;
  font-size: small;
}

.nav-right {
  text-decoration: none; 
  color: inherit;
}

.nav-left a:hover, .nav-right a:hover {
  color: grey;
}

/*---*/

footer {
  width: 85vw; 

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  justify-self: center;
}

.socials {
  width: 10%;
  max-width: 70px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2%;
  text-align: center;
}

.s-icon {
  width: 100%;
  margin-left: 10px;
}

.copyright {
  margin-top: -10px;
  margin-left: 10px;
}

/*---*/


.home-content {
  width: 100vw; 
  background-color: white;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}

.home-image {
  background-color: #183252;
  width: 85%; 
  aspect-ratio: 16 / 9;

  display: flex;
  justify-content: center;
  align-items: center;
}

.home-1 {
  width: 100vw;
  margin-top: 10vh;
  margin-bottom: 10vh;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-content-1 {
  width: 50%;
}

.home-divider {
  width: 50%;
}

.home-2 {
  width: 100vw;
  margin-top: 10vh;
  margin-bottom: 10vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.home-content-2 {
  width: 85%; 

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2%;
  text-align: center;
  
}

.card {
  width: 90%;
}

.card-desc {
  width: 50%;
}

/*---*/


.illustration-content {
  width: 100vw; 
  aspect-ratio: 16 / 9;
  background-color: #183252;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center; /* verticle */
  align-items: center;
}

.illustration-image {
  width: 85%; 
  aspect-ratio: 16 / 9;

  display: flex;
  flex-direction: column;
  justify-content: center; /* verticle */
}

.illustration-image button {
  width: 15%;
}

.illustration-slide-1 {
  width: 85vw;
  margin-bottom: 50vh;

  display: flex;
  flex-direction: column;
  justify-self: center;
}

/*---*/

.project-card-container {
  width: 40%;
  max-width: 400px;
  background-color: rgb(250, 246, 239);
  margin: 10px;
  padding: 10px;
  outline: 2px solid #c5c9cf; 

  display: flex;
  flex-direction: column;
  justify-content: center;

  transition: transform 0.3s ease-in-out;
}

.project-card-container:hover {
  transform: scale(1.05); 
}

.project-card-img {
  width: 100%;
  aspect-ratio: 3 / 2;
}

.project-card-description{
  margin-top: -15px;
}

.project-card-langs {
  padding-right: 20px;
  display: flex;
  gap: 10px;
}

.project-card-langs p{
  font-size: 0.75rem;
  padding: 5px;
  outline: 2px solid #c5c9cf; 
}

/*---*/

.proj-slide-1{
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.proj-content-1, .proj-content-2{
  width: 85%; 
  padding-top: 50px;
  padding-bottom: 50px;

  display: flex;
  flex-direction: row;
  justify-self: center;
}

.proj-content-1-left{
  width: 70%;

  display: flex;
  flex-direction: column;
}

.proj-content-1-left p{
  width: 90%;
}

.proj-content-1-left h4{
  margin-top: -20px;
}

.proj-content-1-right{
  width: 30%;

  display: flex;
  flex-direction: column;
}

.proj-content-2 h2 {
  margin-bottom: 10px;
}

.project-divider {
  margin: 50px;
}

.proj-links {
  margin-right: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*---*/

.about-slide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about-content {
  width: 85%;
  margin: 5vw;
  padding-bottom: 200px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.bio {
  width : 75%;
}

.about-content-left {
  width: 50%;
}

.about-content-right {
  width: 45%
}
